{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'hrms/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %} ">
    <link rel="stylesheet" href="{% static 'hrms/vendors/iconfonts/font-awesome/css/font-awesome.css' %} ">
    <link rel="stylesheet" href=" {% static 'hrms/css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'hrms/css/toastr.min.css' %}">
    <link rel="shortcut icon" href="{% static 'hrms/images/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'hrms/css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'hrms/css/Home.css' %}" media="screen">
    <script class="u-script" type="text/javascript" src="{% static 'hrms/js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'hrms/js/nicepage.js' %}" defer=""></script>

    <link rel="shortcut icon" href="{% static 'hrms/images/favicon.png' %}"/>

    <title>Recruitment Page</title>
</head>
<body class="u-body u-overlap u-xl-mode" data-lang="en">
<header class="u-clearfix u-header u-header" id="sec-81fb">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500">
            <img src="{% static 'hrms/images/logo_hrms-removebg-preview.png' %}" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
            <div class="menu-collapse"
                 style="font-size: 1.5rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
                <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-grey-90 u-text-grey-40 u-text-hover-grey-70"
                   href="#">
                    <svg class="u-svg-link" viewBox="0 0 24 24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
                         xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <rect y="1" width="16" height="2"></rect>
                            <rect y="7" width="16" height="2"></rect>
                            <rect y="13" width="16" height="2"></rect>
                        </g>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-spacing-0 u-unstyled u-nav-1">
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-grey-90 u-text-grey-40 u-text-hover-grey-70"
                            href="/" style="padding: 18px 32px;">Home</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-grey-90 u-text-grey-40 u-text-hover-grey-70"
                            href="/about" style="padding: 18px 32px;">About</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-grey-90 u-text-grey-40 u-text-hover-grey-70"
                            href="/recruitment" style="padding: 18px 35px 18px 32px;">Apply Now</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-grey-90 u-text-grey-40 u-text-hover-grey-70"
                            href="/login" style="padding: 18px 35px 18px 32px;">Log In</a>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html">Home</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about">About</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/recruitment">Apply
                                Now</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/login">Log In</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
            </div>
        </nav>
    </div>
</header>
<section class="container">
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            <br>
            <br>
            <br>
            <p class="lead text-center">Candidate Application Form</p>
            <hr>
            <div class="card">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible alert-success">
                            <button type="button" class="close" data-dismiss="alert">
                                ×
                            </button>
                            <strong>{{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card-body">
                    <form action="" method="POST" class="form-group" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <button class="btn btn-block btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>